.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:370px;
    height:70vh;
    margin:3rem auto;
    border-radius: 47px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.25);
    border:1px solid rgb(50, 99, 84);
    
  }
  .login-container #form{
    margin-bottom: 3rem;
    padding:4rem 0 3rem 0;
  left: 231px;
  top: 201px;
  
  
  }
  .form-title{
    display: flex;
    justify-content: space-between;
  }
  .login-container .x{
    margin-top:2rem ;
    margin-right:1rem;
  }
  .login-container .btn{
    background-color: #C3D8D9;
    height:50px;
    padding:10px;
    margin-top:60px;
    border-radius:10px;
    width:280px;
    margin-left:10px; 
  
  }
 .login-container p{
    margin-top:70px;
    position: relative;
    left: 10%;
    font-size: 14px;
    
  }
 .login-container span{
    position: relative;
    font-size: 12px;
    top:-.1rem;
  }

.login-container  .email,.login-container .password{
    width:16rem;
    border-radius: 5%;
    line-height:1.25rem;
    background-color: #C3D8D9;
  }

  input{
    padding: 10px 0 ;
  }

  .loginbtn{
    all:unset;
    margin:1rem 5rem 0.2rem 5rem;
    padding: .5rem 1.5rem;
    border:2px solid rgb(50, 99, 84);
    border-radius: 15px;
    
  }
  .registerLink{
   font-size: 10px;
   padding-left:4.9rem;

  }
  a{
    margin-left:4px ;
  }
  .password-div{
    position: relative;
  }
  .password-div .eye{
    position: absolute;
    top:0.35rem;
    right:0.35rem;
  }
  .recaptcha{
    height:2rem;
    width:6rem;
    margin:1rem 5rem;
    margin-bottom:0rem;
    border:2px solid rgb(50, 99, 84);
    background-image: url(../Login/re.png);
    border-radius:5px;
  }
  