body {
  overflow-x: hidden;
}
.user-account{
  padding: 0;
  margin: 0;
}
.owner-account .image-area {
  background: url(./img/house.png);
  background-repeat: "no-repeat" !important;
   object-fit: cover;
  width: 100hw;
  height: 387px;
  margin-top: -.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-area > span {
  width: 500px;
}

.owner-account .image-area-text {
  width: 398px;
  height: 44px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 44px;
  margin-top: -1rem;
  margin-bottom: 1rem;
  margin-left: 50rem;
  color: #183639;
}
.owner-account .image-area-text h2 {
   margin-left: 18rem; 
  margin-top: -1rem;
}

.image-area-text div {

  margin-left: 20rem;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 24px;
  text-align: center;
  color: #183639;
}
.owner-account .user-details-title{
  text-align: left;
}
.owner-account .user-details input,
.owner-account .user-details select {
  /* all: unset; */
  width: 360px;
  height: 40px;
  background: rgba(255, 255, 255, 0.88);
  border: 1px solid #23656c;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
input[type="checkbox"] {
  background: rgba(255, 255, 255, 0.88);
  border: 1px solid #23656c;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  height: 25px !important;
  width: 27px !important;
}

.profile-title span {
  margin-left: 2rem;
}
.room-address-title span {
  margin-left: 2rem;
}
.room-address-title .seperater {
  width: 85% !important;
}
.title-description-title span {
  margin-left: 2rem;
  font-size: 20px;
  font-weight: bold;
}

.right {
  margin-left: 2rem;
}
.owner-account .room-details input,
.owner-account .room-details select {
  width: 233px;
  height: 40px;
  /* background: rgba(255, 255, 255, 0.88); */
  border: 1px solid #23656c;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.owner-account label {
  font-size: 20px;
}
.owner-account  .room-address  input,
.owner-account  .room-address  select {
  width: 360px;
  height: 40px;
  background: rgba(255, 255, 255, 0.88);
  border: 1px solid #23656c;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.owner-account .title-and-description-content {
  display: flex;
  margin-top: 1.5rem;
  flex-wrap: wrap;
  justify-content: space-around;
}
.owner-account .title-and-description-text {
  /* margin-left: 5rem; */
  text-align: right;
  /* margin-right: 10rem; */
}
.owner-account .title-and-description-text input {
  width: 327px;
  height: 40px;
}
.title-and-description-text textarea {
  all: unset;
  width: 328px;
  height: 118px;
  background: rgba(255, 255, 255, 0.88);
  border: 1px solid #23656c;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.title-and-description-text input,
.title-and-description-text textarea {
  margin-bottom: 2rem;
}

.owner-account .user-details {
  margin: 1rem;
  text-align: right;
}
.room-details {
  margin: 1rem;
}
.room-address {
  margin: 1rem;
  text-align: right;
}
.room-address-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.room-address input,
.room-address select {
  margin: 1rem 0;
  margin-right: 45%;
}
.owner-account .user-details input,
.owner-account .user-details select {
  margin-bottom: 1rem;
  margin-right: 45%;
}
.owner-account input[type="file"] {
  all: unset !important;
}
.owner-account .user-details-container{
  width:100vw;
  height:280px;
  display: flex;
}
.user-details-image {
  position: absolute;
  width: 270px;
  height: 229px;
  left: 760px;
  top: 659px;
  background: rgba(255, 255, 255, 0.88);
  border: 1px solid #23656c;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.room-details {
  margin: 1rem 1rem 3rem 3rem;
}
.user-details-title span {
  font-size: large;
  font-weight: bold;
}

.room-details-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.room-details-content__wrapper{
  width: 40%;
  text-align: right;
}



.room-details-content > input,
.room-details-content select {
  margin-right: 5rem;
  margin-bottom: 1rem;
}
.rooms-checkbox {
  text-align: left !important;
  margin-left: 10rem;
  margin-top: 2rem;

}

.rooms-checkbox input {
  margin-left: 3rem;
  margin-right: 0.3rem;
  margin-bottom: .75rem;
}
.room-address-title {
  margin-bottom: 2rem;
}

.re {
  margin: 2rem 0;
  margin-left: 25rem;
}
.owner-account .terms {
  margin: 3rem 0;
  margin-left: 20rem;
}
.owner-account .terms input{
  margin-right: .6rem;
}
.owner-account .create{
  margin-left: 25rem;
  margin-bottom: 4rem;
}
.create button{
  all:unset;
  padding-left: 1.25rem;
  width: 308px;
  height: 63px;
  background: #aac8cd;
  border: 1px solid #23656c;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}


@media screen and (max-width: 700px) {
  .owner-account .image-area-text div {
    margin-left: 5rem;
  }
  .owner-account .image-area-text h2 {
    margin-left: 5rem;
  }
  .owner-account .user-details-content-left {
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .file {
    max-width: 80vw;
    height: 80px !important;
    margin: 0;
  }
  .profile {
    margin-left: 1rem;
  }
  .owner-account .profile textarea {
    margin-left: 1rem;
  }
  .preferences-content {
    display: flex;
    flex-wrap: wrap;
    padding-left: 2rem;
  }

  .owner-account .selection-div {
    width: 100vw;
    margin-left: 0rem;
  }
  .owner-account .selection-div input {
    margin-left: 3rem;
    margin-right: 0.3rem;
  }

  .owner-account .terms {
    margin-left: 2rem;
  }

  .owner-account .rec {
    margin: 3rem 0 1rem 2rem;
  }
  .terms span{
    margin-left: 1rem;
  }
}
