body{
    padding:0;
    margin:0;
  }
  nav{
    padding:10px;
    background-color: #C3D8D9;
    display: flex;
    justify-content: space-between;
    align-items:center;
    height:130px;
    font-weight: 200;
    width: 100%;
    
  }
  ul{
    display:flex;
  }
  ul li{
    list-style: none;
    margin-right:30px;
    cursor: pointer;
    margin-left: 10px;
  }

  a{
    text-decoration: none;
    color: #183639;
    font-size: 20px;
    font-weight: 700;
  }