.faq-container{
    /* height: 100vh; */
}
.faq-container-hero{
    background-image: url(../assets/faq.png);
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.faq-question-container{
    display: flex;
    justify-content: center;
}

.faq-question-container div{
    width: 65%;
}