*{
  padding: 0;
}

.footer{
  padding: 60px 0;
}

.footer-right{
display: flex;
justify-content:space-evenly;
list-style: none;

}


li{
  list-style: none;
  /* padding-bottom:18px; */
  padding-bottom: 1.5rem;
  font-size: 20px;
  text-decoration: none;
  
}
h1{
  font-weight: bold;
}

h2{
  color: #11245A;
}
.box{
  color: black;
}
.paragraph{
  display: min-content;
}
a{
text-decoration: none;
list-style: none;
color: black;
}
.paragraph{
  width: 384px;
}
